.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-32
  .elementor-element.elementor-element-c9beca3.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-832b023:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-832b023
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2fcff;
}
.elementor-32 .elementor-element.elementor-element-832b023 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 120px 0px;
}
.elementor-32
  .elementor-element.elementor-element-832b023
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-bae43a8
  > .elementor-widget-container {
  margin: -7% 0% 0% 0%;
}
.elementor-32
  .elementor-element.elementor-element-bae43a8.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-bae43a8 img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}
.elementor-32
  .elementor-element.elementor-element-801e2d1
  > .elementor-widget-container {
  margin: 0% 0% 0% 0%;
}
.elementor-32
  .elementor-element.elementor-element-801e2d1.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-77c397b:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-77c397b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2fcff;
}
.elementor-32 .elementor-element.elementor-element-77c397b {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-77c397b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-32
  .elementor-element.elementor-element-a053169.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-a053169 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-a053169
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 222px;
  font-weight: 600;
  line-height: 200px;
  color: #0133d9;
}
.elementor-32
  .elementor-element.elementor-element-78e63e7.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-78e63e7 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-78e63e7
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 222px;
  font-weight: 600;
  line-height: 144px;
  color: #0133d9;
}
.elementor-32
  .elementor-element.elementor-element-12e8d01.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-12e8d01 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-12e8d01
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 222px;
  font-weight: 600;
  line-height: 144px;
  color: #0133d9;
}
.elementor-32
  .elementor-element.elementor-element-21eb9fc.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-21eb9fc {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-21eb9fc
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 222px;
  font-weight: 600;
  line-height: 144px;
  color: #0133d9;
}
.elementor-32 .elementor-element.elementor-element-c1eab16 {
  --spacer-size: 186px;
}
.elementor-32
  .elementor-element.elementor-element-c1eab16.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-d9773a6
  .elementor-widget-container {
  --e-transform-origin-x: center;
  --e-transform-origin-y: center;
}
.elementor-32
  .elementor-element.elementor-element-d9773a6.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-d9773a6 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-d9773a6
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 666px;
  font-weight: 600;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  color: #0133d9;
}
.elementor-32
  .elementor-element.elementor-element-ef1a223
  > .elementor-widget-container {
  margin: -74px 0px 0px 0px;
}
.elementor-32
  .elementor-element.elementor-element-ef1a223
  .elementor-widget-container {
  --e-transform-origin-x: center;
  --e-transform-origin-y: center;
}
.elementor-32
  .elementor-element.elementor-element-ef1a223.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-ef1a223 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-ef1a223
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 182px;
  font-weight: 600;
  line-height: 23px;
  color: #0133d9;
}
.elementor-32 .elementor-element.elementor-element-98c39f8 {
  --display: flex;
}
.elementor-32
  .elementor-element.elementor-element-54e231d
  > .elementor-widget-container {
  margin: -200px 0px 0px 0px;
}
.elementor-32
  .elementor-element.elementor-element-54e231d.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-54e231d img {
  width: 77%;
}
.elementor-32
  .elementor-element.elementor-element-02272e1.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-02272e1 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-02272e1
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 333px;
  font-weight: 600;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  color: #0133d9;
}
.elementor-32
  .elementor-element.elementor-element-b7ef7d1:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-b7ef7d1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2fcff;
}
.elementor-32
  .elementor-element.elementor-element-b7ef7d1:not(.elementor-widget),
.elementor-32
  .elementor-element.elementor-element-b7ef7d1
  > .elementor-widget-container {
  backdrop-filter: brightness(1) contrast(1) saturate(1) blur(0px)
    hue-rotate(0deg);
  -webkit-backdrop-filter: brightness(1) contrast(1) saturate(1) blur(0px)
    hue-rotate(0deg);
}
.elementor-32 .elementor-element.elementor-element-b7ef7d1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 130px 0px;
}
.elementor-32
  .elementor-element.elementor-element-b7ef7d1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-a260c4a:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-a260c4a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #9fdbeb;
}
.elementor-32 .elementor-element.elementor-element-a260c4a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-32
  .elementor-element.elementor-element-a260c4a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.tp-plus-shape-divider
  .wave-items.elementor-repeater-item-1f6a799.classic-color
  path {
  fill: #9fdbeb;
}
.tp-plus-shape-divider
  .wave-items.elementor-repeater-item-d2a6dc5.classic-color
  path {
  fill: #9fdbeb;
}
.elementor-32
  .elementor-element.elementor-element-e06ea79
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-32
  .elementor-element.elementor-element-e06ea79.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.shapee06ea79.tp-plus-shape-divider.shape-wave,
.shapee06ea79.tp-plus-shape-divider .wave-items {
  height: 276px;
}
.elementor-32
  .elementor-element.elementor-element-132cf65
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-32
  .elementor-element.elementor-element-132cf65:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-132cf65
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #9fdbeb;
}
.elementor-32 .elementor-element.elementor-element-132cf65 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 130px 0px;
}
.elementor-32
  .elementor-element.elementor-element-132cf65
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-32
  .elementor-element.elementor-element-ef95e45.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-32
  .elementor-element.elementor-element-ef95e45.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-32
  .elementor-element.elementor-element-f4334c2.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-f4334c2 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-f4334c2
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 59px;
  font-weight: 600;
  color: #303435;
}
.elementor-32
  .elementor-element.elementor-element-ea8c02e
  > .elementor-widget-container {
  margin: 33px 0px 33px 0px;
}
.elementor-32
  .elementor-element.elementor-element-ea8c02e.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-ea8c02e img {
  width: 15%;
}
.elementor-32
  .elementor-element.elementor-element-f52af78.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-f52af78 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-f52af78
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 189px;
  font-weight: 600;
  line-height: 140px;
  color: #000000;
}
.elementor-32
  .elementor-element.elementor-element-bddd307.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-bddd307 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-bddd307
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 189px;
  font-weight: 600;
  line-height: 140px;
  text-shadow: 0px 0px 66px
    rgba(195.68478260869566, 254.22632325141777, 255, 0.99);
  color: #2b4c9e;
}
.elementor-32
  .elementor-element.elementor-element-f86d8b8.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-f86d8b8 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-f86d8b8
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 67px;
  font-weight: 600;
  line-height: 34px;
  color: #00174f;
}
.elementor-32 .elementor-element.elementor-element-844a137 {
  --display: flex;
}
.elementor-32 .elementor-element.elementor-element-79a23ae {
  --spacer-size: 34px;
}
.elementor-32
  .elementor-element.elementor-element-79a23ae.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-32
  .elementor-element.elementor-element-cfa960e.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-cfa960e {
  text-align: center;
  color: #02111b;
  font-family: "Almarai", Sans-serif;
  font-size: 33px;
  line-height: 21px;
}
.elementor-32 .elementor-element.elementor-element-434b95c {
  --spacer-size: 68px;
}
.elementor-32
  .elementor-element.elementor-element-434b95c.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-b840fe1.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-b840fe1
  .xpro-img-marquee-horizontal
  .xpro-img-marquee-media
  > img {
  margin: 0 15px;
}
.elementor-32
  .elementor-element.elementor-element-b840fe1
  .xpro-img-marquee-vertical
  .xpro-img-marquee-media
  > img {
  margin: 15px 0;
}
.elementor-32
  .elementor-element.elementor-element-b840fe1
  .xpro-img-marquee-media {
  animation-duration: calc(0.2s * 100);
}
.elementor-32
  .elementor-element.elementor-element-b840fe1
  .xpro-img-marquee-inner
  .xpro-img-marquee-media
  > img {
  border-radius: 33px 33px 33px 33px;
}
.elementor-32
  .elementor-element.elementor-element-4b48c31.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-4b48c31
  .xpro-img-marquee-horizontal
  .xpro-img-marquee-media
  > img {
  margin: 0 15px;
  height: 222px;
}
.elementor-32
  .elementor-element.elementor-element-4b48c31
  .xpro-img-marquee-vertical
  .xpro-img-marquee-media
  > img {
  margin: 15px 0;
}
.elementor-32
  .elementor-element.elementor-element-4b48c31
  .xpro-img-marquee-media {
  animation-duration: calc(0.2s * 100);
}
.elementor-32
  .elementor-element.elementor-element-4b48c31
  .xpro-img-marquee-inner
  .xpro-img-marquee-media
  > img {
  width: 222px;
  border-radius: 33px 33px 33px 33px;
}
.elementor-32
  .elementor-element.elementor-element-4b48c31
  .xpro-img-marquee-vertical {
  height: 222px;
}
.elementor-32
  .elementor-element.elementor-element-db0e3e8.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-db0e3e8
  .xpro-img-marquee-horizontal
  .xpro-img-marquee-media
  > img {
  margin: 0 15px;
}
.elementor-32
  .elementor-element.elementor-element-db0e3e8
  .xpro-img-marquee-vertical
  .xpro-img-marquee-media
  > img {
  margin: 15px 0;
}
.elementor-32
  .elementor-element.elementor-element-db0e3e8
  .xpro-img-marquee-media {
  animation-duration: calc(0.6s * 100);
}
.elementor-32
  .elementor-element.elementor-element-db0e3e8
  .xpro-img-marquee-inner
  .xpro-img-marquee-media
  > img {
  border-radius: 33px 33px 33px 33px;
}
.elementor-32 .elementor-element.elementor-element-a73c11b {
  --display: flex;
}
.elementor-32 .elementor-element.elementor-element-b182c87 {
  --spacer-size: 44px;
}
.elementor-32
  .elementor-element.elementor-element-b182c87.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-aa19a0e.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-aa19a0e {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-aa19a0e
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 94px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  color: #0356ab;
}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-32
  .elementor-element.elementor-element-5338125.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-5338125
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-5338125.elementor-view-stacked
  .elementor-icon {
  background-color: #e5f7ff;
}
.elementor-32
  .elementor-element.elementor-element-5338125.elementor-view-framed
  .elementor-icon,
.elementor-32
  .elementor-element.elementor-element-5338125.elementor-view-default
  .elementor-icon {
  color: #e5f7ff;
  border-color: #e5f7ff;
}
.elementor-32
  .elementor-element.elementor-element-5338125.elementor-view-framed
  .elementor-icon,
.elementor-32
  .elementor-element.elementor-element-5338125.elementor-view-default
  .elementor-icon
  svg {
  fill: #e5f7ff;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-32
  .elementor-element.elementor-element-56970e2.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-wrapper {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-2
  .xpro-creative-btn-svg {
  width: 227px;
  height: 227px;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-5
  .xpro-creative-btn-text-circle,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-13
  .xpro-creative-btn,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-14
  .xpro-creative-btn,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-15
  .xpro-creative-btn,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-16
  .xpro-creative-btn,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-17
  .xpro-creative-btn,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-18
  .xpro-creative-btn {
  width: 227px;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-text,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-4
  .xpro-creative-btn-content
  span,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-5
  .xpro-creative-btn-text-circle
  > text
  > textPath {
  font-family: "Seals", Sans-serif;
  font-size: 67px;
  font-weight: bold;
  letter-spacing: -3.6px;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-media
  > i {
  color: #007ede;
  font-size: 88px;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-media
  > svg {
  fill: #007ede;
  width: 88px;
  height: auto;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-media
  .xpro-creative-btn-text,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-4
  .xpro-creative-btn-content-inner
  span {
  color: #000000;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn-layout-5
  .xpro-creative-btn-text-circle
  > text
  > textPath {
  fill: #000000;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn:hover
  .xpro-creative-btn-media
  > i {
  color: #dafaff;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-creative-btn:hover
  .xpro-creative-btn-media
  > svg {
  fill: #dafaff;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-align-icon-right
  .xpro-creative-btn-media
  > i,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-align-icon-right
  .xpro-creative-btn-media
  > svg {
  margin-left: 0px;
}
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-align-icon-left
  .xpro-creative-btn-media
  > i,
.elementor-32
  .elementor-element.elementor-element-56970e2
  .xpro-align-icon-left
  .xpro-creative-btn-media
  > svg {
  margin-right: 0px;
}
.elementor-32 .elementor-element.elementor-element-a079997 {
  --spacer-size: 459px;
}
.elementor-32
  .elementor-element.elementor-element-a079997.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-b40536e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-b40536e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-3790994
  > .elementor-element-populated {
  margin: -481px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.tp-plus-shape-divider
  .wave-items.elementor-repeater-item-56104d0.classic-color
  path {
  fill: #ffffff;
}
.elementor-32
  .elementor-element.elementor-element-791a0c6.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.shape791a0c6.tp-plus-shape-divider.shape-wave,
.shape791a0c6.tp-plus-shape-divider .wave-items {
  height: 496px;
}
.elementor-32
  .elementor-element.elementor-element-6ba50e1
  > .elementor-widget-container {
  margin: 0% 0% -6% 0%;
}
.elementor-32 .elementor-element.elementor-element-6ba50e1 {
  z-index: 4;
}
.elementor-32
  .elementor-element.elementor-element-6ba50e1.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-6ba50e1 img {
  width: 69%;
}
.elementor-32
  .elementor-element.elementor-element-3b3c63e.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-3b3c63e {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-3b3c63e
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 188px;
  font-weight: 600;
  color: #4674ad;
}
.elementor-32
  .elementor-element.elementor-element-02375f6.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-02375f6 .fact__count {
  font-family: "Seals", Sans-serif;
  font-size: 159px;
}
.elementor-32 .elementor-element.elementor-element-02375f6 .meta {
  color: #d66a93;
  font-family: "Seals", Sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1px;
}
.elementor-32
  .elementor-element.elementor-element-fa716d9.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-a2d7def:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-a2d7def
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbd3f3;
}
.elementor-32 .elementor-element.elementor-element-a2d7def {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 82px 0px;
}
.elementor-32
  .elementor-element.elementor-element-a2d7def
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-05f503c:not(.elementor-widget),
.elementor-32
  .elementor-element.elementor-element-05f503c
  > .elementor-widget-container {
  backdrop-filter: brightness(1) contrast(1) saturate(1) blur(0px)
    hue-rotate(0deg);
  -webkit-backdrop-filter: brightness(1) contrast(1) saturate(1) blur(0px)
    hue-rotate(0deg);
}
.elementor-32
  .elementor-element.elementor-element-05f503c
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-32 .elementor-element.elementor-element-a6ad3df.elementor-element {
  --order: -99999 /* order start hack */;
}
.elementor-32
  .elementor-element.elementor-element-a6ad3df.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-a6ad3df {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-a6ad3df
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 255px;
  font-weight: 600;
  color: #003575;
}
.elementor-32 .elementor-element.elementor-element-a49fb00 {
  width: 100%;
  max-width: 100%;
}
.elementor-32
  .elementor-element.elementor-element-a49fb00
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-32 .elementor-element.elementor-element-a49fb00.elementor-element {
  --order: -99999 /* order start hack */;
}
.elementor-32
  .elementor-element.elementor-element-a49fb00.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-a49fb00 img {
  width: 100%;
  max-width: 100%;
}
.elementor-32
  .elementor-element.elementor-element-55a3e0c.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-d7ebcd1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-32
  .elementor-element.elementor-element-d7ebcd1:not(.elementor-motion-effects-element-type-background),
.elementor-32
  .elementor-element.elementor-element-d7ebcd1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1a2553;
}
.elementor-32
  .elementor-element.elementor-element-d7ebcd1:not(.elementor-widget),
.elementor-32
  .elementor-element.elementor-element-d7ebcd1
  > .elementor-widget-container {
  backdrop-filter: brightness(1) contrast(1) saturate(1) blur(0px)
    hue-rotate(0deg);
  -webkit-backdrop-filter: brightness(1) contrast(1) saturate(1) blur(0px)
    hue-rotate(0deg);
}
.tp-plus-shape-divider
  .wave-items.elementor-repeater-item-4ba52f7.classic-color
  path {
  fill: #1a2553;
}
.tp-plus-shape-divider
  .wave-items.elementor-repeater-item-6611db3.classic-color
  path {
  fill: #1a2553;
}
.elementor-32
  .elementor-element.elementor-element-b6e4990.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.shapeb6e4990.tp-plus-shape-divider.shape-wave,
.shapeb6e4990.tp-plus-shape-divider .wave-items {
  height: 368px;
}
.elementor-32 .elementor-element.elementor-element-cd6150f {
  --spacer-size: 106px;
}
.elementor-32
  .elementor-element.elementor-element-cd6150f.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-85ffb88.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32
  .elementor-element.elementor-element-85ffb88
  .xpro-text-marquee-txt {
  padding: 0 40px;
  font-family: "Seals", Sans-serif;
  font-size: 200px;
  font-weight: bold;
  color: #ffe6e6;
}
.elementor-32
  .elementor-element.elementor-element-85ffb88
  .xpro-text-marquee-media {
  animation-duration: calc(1s * 100);
}
.elementor-32
  .elementor-element.elementor-element-a651258
  > .elementor-widget-container {
  margin: 22px 22px 55px 22px;
}
.elementor-32
  .elementor-element.elementor-element-a651258
  .elementor-widget-container {
  --e-transform-origin-x: center;
  --e-transform-origin-y: center;
}
.elementor-32
  .elementor-element.elementor-element-a651258.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-a651258 img {
  width: 41%;
}
.elementor-32
  .elementor-element.elementor-element-55f76a8
  > .elementor-widget-container {
  margin: 21px 22px 22px 22px;
}
.elementor-32
  .elementor-element.elementor-element-55f76a8.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-32 .elementor-element.elementor-element-55f76a8 {
  text-align: center;
}
.elementor-32
  .elementor-element.elementor-element-55f76a8
  .elementor-heading-title {
  font-family: "Seals", Sans-serif;
  font-size: 125px;
  font-weight: 600;
  line-height: 100px;
  color: #f889cb;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-32 .elementor-element.elementor-element-e77c2c3 .elementor-button {
  background-color: #7fdfff;
  font-family: "Seals", Sans-serif;
  font-size: 81px;
  font-weight: 500;
  border-radius: 44px 44px 44px 44px;
}
.elementor-32
  .elementor-element.elementor-element-e77c2c3
  > .elementor-widget-container {
  margin: 0px 0px 76px 0px;
}
.elementor-32
  .elementor-element.elementor-element-e77c2c3.xpro-widget-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .elementor-32 .elementor-element.elementor-element-98c39f8 {
    --content-width: 591px;
  }
}
@media (max-width: 1024px) {
  .elementor-32
    .elementor-element.elementor-element-bae43a8
    > .elementor-widget-container {
    margin: -68px 0px 0px 0px;
  }
  .elementor-32
    .elementor-element.elementor-element-801e2d1
    > .elementor-widget-container {
    margin: -18% 0% 0% 0%;
  }
  .elementor-32
    .elementor-element.elementor-element-d9773a6
    .elementor-heading-title {
    font-size: 444px;
  }
  .elementor-32
    .elementor-element.elementor-element-ef1a223
    .elementor-heading-title {
    font-size: 127px;
    line-height: 0.6em;
  }
  .elementor-32
    .elementor-element.elementor-element-02272e1
    .elementor-heading-title {
    font-size: 200px;
  }
}
@media (max-width: 767px) {
  .elementor-32 .elementor-element.elementor-element-6a6e910 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-32 .elementor-element.elementor-element-c9beca3.elementor-element {
    --align-self: center;
    --flex-grow: 1;
    --flex-shrink: 0;
  }
  .elementor-32 .elementor-element.elementor-element-c9beca3 {
    text-align: center;
  }
  .elementor-32
    .elementor-element.elementor-element-bae43a8
    > .elementor-widget-container {
    margin: -49px -49px -49px -49px;
  }
  .elementor-32
    .elementor-element.elementor-element-801e2d1
    > .elementor-widget-container {
    margin: 11% 11% 11% 11%;
  }
  .elementor-32
    .elementor-element.elementor-element-a053169
    .elementor-heading-title {
    font-size: 165px;
    line-height: 0.7em;
  }
  .elementor-32
    .elementor-element.elementor-element-12e8d01
    .elementor-heading-title {
    font-size: 143px;
    line-height: 0.8em;
  }
  .elementor-32
    .elementor-element.elementor-element-21eb9fc
    .elementor-heading-title {
    font-size: 87px;
  }
  .elementor-32
    .elementor-element.elementor-element-d9773a6
    .elementor-heading-title {
    font-size: 244px;
  }
  .elementor-32
    .elementor-element.elementor-element-ef1a223
    .elementor-heading-title {
    font-size: 90px;
    line-height: 1.5em;
  }
  .elementor-32
    .elementor-element.elementor-element-02272e1
    > .elementor-widget-container {
    margin: 0px 0px 85px 0px;
  }
  .elementor-32
    .elementor-element.elementor-element-02272e1
    .elementor-heading-title {
    font-size: 116px;
    line-height: 0.1em;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
  }
  .elementor-32
    .elementor-element.elementor-element-f52af78
    .elementor-heading-title {
    font-size: 167px;
  }
  .elementor-32
    .elementor-element.elementor-element-bddd307
    .elementor-heading-title {
    font-size: 92px;
    line-height: 0.8em;
  }
  .elementor-32
    .elementor-element.elementor-element-f86d8b8
    .elementor-heading-title {
    font-size: 71px;
    line-height: 0.8em;
  }
  .elementor-32 .elementor-element.elementor-element-6ba50e1.elementor-element {
    --order: 99999 /* order end hack */;
  }
  .elementor-32 .elementor-element.elementor-element-6ba50e1 img {
    width: 99%;
  }
  .elementor-32 .elementor-element.elementor-element-3b3c63e.elementor-element {
    --order: -99999 /* order start hack */;
  }
  .elementor-32
    .elementor-element.elementor-element-3b3c63e
    .elementor-heading-title {
    font-size: 109px;
    line-height: 0.8em;
  }
  .elementor-32 .elementor-element.elementor-element-a6ad3df.elementor-element {
    --order: -99999 /* order start hack */;
  }
  .elementor-32
    .elementor-element.elementor-element-a6ad3df
    .elementor-heading-title {
    line-height: 0.8em;
  }
  .elementor-32
    .elementor-element.elementor-element-55f76a8
    .elementor-heading-title {
    font-size: 67px;
    line-height: 0.9em;
  }
} /* Start Custom Fonts CSS */
@font-face {
  font-family: "Seals";
  font-display: auto;
  src: url("/wp-content/uploads/2024/12/TT-Trailers-Trial-Variable.ttf")
    format("truetype");
}
/* End Custom Fonts CSS */
